
<section class="video-section-wrap d-flex align-items-center" id="nedenbiz">
    <div class="video-bg bg-cover d-none d-lg-block" style="background-image: url('@Url.Content("~/freebuild-html/assets/img/video-bg.jpg")')"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
                <div class="video-buttton">
                    <a href="https://www.youtube.com/watch?v=_TI26foIVy0" class="play_video_btn popup-video">
                        <i class="fal fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 offset-lg-1">
                <div class="video-section-content">
                    <h2>Neden Bizi Seçmelisiniz?</h2>
                    <ul>
                        <li>
                            <h3>Kalite ve Güven</h3>
                            <p>Birinci sınıf malzeme kullanımı ve garantili işçilik sunuyoruz.</p>
                        </li>
                        <li>
                            <h3>Zamanında Teslimat</h3>
                            <p>Projelerinizi söz verdiğimiz tarihte, eksiksiz teslim ediyoruz.</p>
                        </li>
                        <li>
                            <h3>Zamanında Teslimat</h3>
                            <p>Projelerinizi söz verdiğimiz tarihte, eksiksiz teslim ediyoruz.</p>
                        </li>
                        <li>
                            <h3>Zamanında Teslimat</h3>
                            <p>Projelerinizi söz verdiğimiz tarihte, eksiksiz teslim ediyoruz.</p>
                        </li>
                    </ul>
                    <a href="#contact" class="theme_btn">BİLGİ ALIN</a>
                </div>
            </div>
        </div>
    </div>
</section>