@model List<WebApp_building.DAL.Entities.NedenBiz>

<section class="video-section-wrap d-flex align-items-center" id="nedenbiz">
    <div class="video-bg bg-cover d-none d-lg-block" style="background-image: url('@Url.Content("~/freebuild-html/assets/img/video-bg.jpg")')"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
                <div class="video-buttton">
                    <a href="https://www.youtube.com/watch?v=_TI26foIVy0" class="play_video_btn popup-video">
                        <i class="fal fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 offset-lg-1">
                <div class="video-section-content">
                    <h2>Neden Bizi Seçmelisiniz?</h2>
                    <ul>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <li>
                                    <h3>@item.Title</h3>
                                    <p>@item.Description</p>
                                </li>
                            }
                        }
                        else
                        {
                            <li>Veri yükleniyor...</li>
                        }
                      
                    </ul>
                    <a href="#contact" class="theme_btn">BİLGİ ALIN</a>
                </div>
            </div>
        </div>
    </div>
</section>