@model List<WebApp_building.DAL.Entities.Ask>
@{
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Sorular</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">SorularList</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                You can perform Sorular-related operations below:
                            </div>

                            <!-- Scrollable tablo kapsayıcısı -->
                            <div class="table-responsive">
                                <table class="table mt-3 table-bordered table-striped align-middle">
                                    <thead class="table-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Ask</th>
                                            <th>Answer</th>
                                            <th>Delete</th>
                                            <th>Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.AskTitle</td>
                                                <td>@item.AskAnswer</td>


                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/Sorular/SoruSil/@item.Id">Delete</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-success btn-sm" href="/Sorular/SoruGuncelle/@item.Id">Update</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <a href="/Sorular/SoruEkle" class="btn btn-info mt-3">Add New Soru</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>