<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <!-- Kullanıcı bilgisi -->
        <!-- Menü -->
        <ul class="nav">
            <li class="nav-item">
                <a href="/Dashboard/Index">
                    <i class="la la-tachometer"></i>
                    <p>Anasayfa</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Home/Index">
                    <i class="la la-home"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Slider/SliderList">
                    <i class="la la-user"></i>
                    <p>Slider</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Hakkimizda/HakkimizdaList">
                    <i class="la la-bell"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Hizmetler/HizmetlerList">
                    <i class="la la-briefcase"></i>
                    <p>Hizmetler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/NedenBiz/NedenBizList">
                    <i class="la la-star"></i>
                    <p>Neden Biz</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Referanslar/ReferanslarList">
                    <i class="la la-phone"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Iletisim/Iletisim">
                    <i class="la la-image"></i>
                    <p>İletişim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Sorular/SorularList">
                    <i class="la la-cogs"></i>
                    <p>Sorular</p>
                </a>
            </li>
           
            <br />
            <li class="nav-item">
                <a href="#">

                </a>
            </li>
        </ul>
    </div>
</div>
