@model List<Hakkimizda>
@{
    ViewData["Title"] = "ExperienceList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Hakkımızda</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hakkımızda List</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                You can perform Hakkımızda-related operations below:
                            </div>

                            <!-- Scrollable tablo kapsayıcısı -->
                            <div class="table-responsive">
                                <table class="table mt-3 table-bordered table-striped align-middle">
                                    <thead class="table-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>İcon</th>
                                            <th>Delete</th>
                                            <th>Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.id</td>
                                                <td>@item.Title</td>
                                                <td>@item.Icon</td>
                                          

                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/About/AboutSil/@item.id">Delete</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-success btn-sm" href="/About/AboutGuncelle/@item.id">Update</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <a href="/About/AboutEkle" class="btn btn-info mt-3">Add New Hakkımızda</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>