<section class="what-we-do section-padding" id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <div class="what-we-do-title">
                    <span>Hizmetlerimiz</span>
                    <h2>Yaşam alanlarınızı sanata dönüştüren profesyonel dokunuşlar sunuyoruz.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="~/freebuild-html/assets/img/wedo/w1.png" alt="">
                    <h3>Asma Tavan</h3>
                    <p>Alçıpan, metal, taşyünü ve akustik tavan uygulamaları.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="~/freebuild-html/assets/img/wedo/w2.png" alt="">
                    <h3>Boya & Dekorasyon</h3>
                    <p>İtalyan boya, duvar çıtalama ve dekoratif alçı işleri.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="~/freebuild-html/assets/img/wedo/w3.png" alt="">
                    <h3>Işıklandırma</h3>
                    <p>Gizli ışık bandı, spot ve LED aydınlatma tasarımları.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="~/freebuild-html/assets/img/wedo/w4.png" alt="">
                    <h3>Gergi Tavan</h3>
                    <p>Mekanlarınıza derinlik katan dijital baskılı gergi tavanlar.</p>
                </div>
            </div>
        </div>
    </div>
</section>