@model List<WebApp_building.DAL.Entities.Referanslar>
<section class="our-portfolio section_bg portfolio-two section-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="theme-heading">
                    <span>Referanslar</span>
                    <h2>Son Tamamlanan Projeler</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-filter-buttons text-center">
        <button data-filter="*">Tümü</button>
        <button data-filter=".building">Salon Tasarımı</button>
        <button data-filter=".business">Ofis & İşyeri</button>
        <button data-filter=".test">test</button>
    </div>
    <div class="portfolio-grid-items row">

        @foreach (var item in Model)
        {
            <div class="single-portofolio grid-item @item.Category col-lg-4 col-md-6 bg-cover text-white" style="background-image: url('@Url.Content(item.Image)')">
                <div class="portfolio-content">
                    <h3>@item.Title</h3>
                    <div class="portfolio-cat"><span>@item.Description</span></div>
                    <a href="#" class="read-more-port">İNCELE <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

        }
     
    </div>
</section>