<section class="our-portfolio section_bg portfolio-two section-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="theme-heading">
                    <span>Referanslar</span>
                    <h2>Son Tamamlanan Projeler</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-filter-buttons text-center">
        <button data-filter="*">Tümü</button>
        <button data-filter=".building">Salon Tasarımı</button>
        <button data-filter=".business">Ofis & İşyeri</button>
        <button data-filter=".test">test</button>
    </div>
    <div class="portfolio-grid-items row">
        <div class="single-portofolio grid-item building col-lg-4 col-md-6 bg-cover text-white" style="background-image: url('@Url.Content("~/freebuild-html/assets/img/portfolio/p1.jpg")')">
            <div class="portfolio-content">
                <h3>Modern Salon Tavanı</h3>
                <div class="portfolio-cat"><span>Asma Tavan</span></div>
                <a href="#" class="read-more-port">İNCELE <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="single-portofolio business grid-item col-lg-4 col-md-6 bg-cover text-white" style="background-image: url('@Url.Content("~/freebuild-html/assets/img/portfolio/p2.jpg")')">
            <div class="portfolio-content">
                <h3>Ofis Aydınlatma</h3>
                <div class="portfolio-cat"><span>Dekorasyon</span></div>
                <a href="#" class="read-more-port">İNCELE <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="single-portofolio test grid-item col-lg-4 col-md-6 bg-cover text-white" style="background-image: url('@Url.Content("~/freebuild-html/assets/img/portfolio/p2.jpg")')">
            <div class="portfolio-content">
                <h3>Ofis </h3>
                <div class="portfolio-cat"><span>Dekorasyon</span></div>
                <a href="#" class="read-more-port">İNCELE <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="single-portofolio building grid-item col-lg-4 col-md-6 bg-cover text-white" style="background-image: url('@Url.Content("~/freebuild-html/assets/img/portfolio/p3.jpg")')">
            <div class="portfolio-content">
                <h3>TV Ünitesi & Alçıpan</h3>
                <div class="portfolio-cat"><span>İç Mimari</span></div>
                <a href="#" class="read-more-port">İNCELE <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>