@model WebApp_building.DAL.Entities.NedenBiz
@{
    ViewData["Title"] = "AboutCreate";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Neden Biz?</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Neden Biz List</div>
                        </div>
                        <div class="card-body">

                            <form method="post">
                                <input type="hidden" asp-for="Id" class="form-control" />

                                <label>Feature Title</label>
                                <input type="text" asp-for="Title" class="form-control" />
                                <br />
                                <label>Feature Image</label>
                                <input type="text" asp-for="Description" class="form-control" />
                                <br />


                                <button class="btn btn-primary"> Neden Biz Add</button>
                            </form>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

