@model WebApp_building.DAL.Entities.Feature
@{
    ViewData["Title"] = "AboutCreate";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">About</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">About List</div>
                        </div>
                        <div class="card-body">

                            <form method="post">

                                <label>Feature Title</label>
                                <input type="text" asp-for="Title" class="form-control" />
                                <br />
                                <label>Feature Image</label>
                                <input type="text" asp-for="Image" class="form-control" />
                                <br />
                                <label>Feature Image</label>
                                <input type="text" asp-for="Description" class="form-control" />
                                <br />
                                <label>Feature Image</label>
                                <input type="text" asp-for="Description2" class="form-control" />
                                <br />
                                <label>Feature Image</label>
                                <input type="text" asp-for="Button" class="form-control" />
                                <br />

                                <button class="btn btn-primary"> Feature Add</button>
                            </form>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

