@model List<WebApp_building.DAL.Entities.Hizmetler>

<section class="what-we-do-wrap section-padding" id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <div class="what-we-do-title">
                    <span>Hizmetlerimiz</span>
                    <h2>Yaşam alanlarınızı sanata dönüştüren profesyonel dokunuşlar sunuyoruz.</h2>
                </div>
            </div>
        </div>
        <div class="row">
           
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="single-we-do">
                        <img src="@item.Image" alt="">
                        <h3>@item.ImageTitle</h3>
                        <p>@item.ImageDescription</p>
                    </div>
                </div>
            }
            
       
        </div>
    </div>
</section>