<section class="about-us section-padding" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <div class="theme-heading">
                    <span>Uzmanlık Alanlarımız</span>
                    <h2>Neler Yapıyoruz?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-about">
                    <img src="~/freebuild-html/assets/img/icons/1.png" alt="">
                    <h3>Tadilat</h3>
                    <a href="#"><i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-about">
                    <img src="~/freebuild-html/assets/img/icons/2.png" alt="">
                    <h3>Dekorasyon</h3>
                    <a href="#"><i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>